/*Table Content
==========================
    # General
        - Fonts
    # Links
    # Lists
    # Headings
    # Paragraphs
    # Images
	# forms
	# Tables
	# Buttons
	# Misc
	# Section Settings
	# Icon Box
	# Order Item
	# Header
	# home-slider
	# Page Head
	# Footer
	# Home Page
		- Home About
		- Home Order
		- Home Products
	# About Page
	# Order Detail
	# Contact Page
	# Cart Page
	# checkout page
*/


/*General
===========================*/
*, *:focus {
    outline: none!important;
}
/*font-family: 'Droid Arabic Kufi', sans-serif;*/
/*Fonts*/
@font-face {
    font-family: 'Swissra-Bold';
    src: url(../vendor/fonts/Swissra-Bold.otf);
}
@font-face {
    font-family: 'Swissra-Normal';
    src: url(../vendor/fonts/Swissra-Normal.otf);
}
@font-face {
    font-family: 'Swissra-Medium';
    src: url(../vendor/fonts/Swissra-Medium.otf);
}

body {
    font-family: 'Swissra-Medium';
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    background: #fff;
    color: #777;
    direction: rtl;
    text-align: right;
    overflow-x:hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

}
#wrapper{
    position: relative;
    color: #7a7a7a;
}
.main {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.page-content {
    position: relative;
    width: 100%;
    overflow: hidden;
}


#preloader {
    height: 100%;
    width: 100%;
    background: #f1f1f1;
    z-index: 9999999;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}
#loading {
    height: 100%;
    width: 100%;
    background: transparent url("../images/loading.gif");
    background-repeat: no-repeat;
    background-position: center
}


/*Links
==========================*/
a, a:hover, a:focus {
    text-decoration: none;
}
button, button:hover, button:focus {
    text-decoration: none;
}
/*Lists
==========================*/
ul, li{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}



/* Social-List */
ul.social-list {
    margin-top: 5px;
    overflow: hidden;
}
ul.social-list > li {
    float: right;
    margin-left: 13px;
    border-radius: 8px;
    overflow: hidden;
}
ul.social-list > li:last-child {
    margin-left: 0;
}
ul.social-list > li > a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ebe6d4;
    color: #73a204;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
ul.social-list > li:hover > a {
    background-color: #fff;
    color: #db623f;
}

/* Contact-List */
ul.contact-list{
}
ul.contact-list > li{}
ul.contact-list > li{
    font-family: 'Droid Arabic Kufi', sans-serif;
    line-height: 30px;
    font-size: 15px;
    color: #f9f9f9;
    margin-bottom: 13px;
    overflow: hidden;

}
ul.contact-list > li > i{
    display: block;
    float: right;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    background: #fff;
    color: #73a204;
    font-size: 19px;
    margin-left: 7px;
    border-radius: 100%;
}



/* Headings
========================== */
h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0;
}

.title {
    display: block;
    font-size: 19px;
    color: #333;
    line-height: 30px;
}
.title-bg {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    margin-bottom: 25px;
}
.title-lg-bg {
    background: url(../images/about-title.png);
    width: 365px;
    height: 80px;
    line-height: 80px;
    padding-left: 40px;
}



/* Paragraphs
========================== */
p {
    margin: 0;
}



/* images
========================== */
img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Forms
========================== */
.form-group{
    margin-bottom: 23px;
}
.form-group > label {
    display: block;
    margin-bottom: 12px;
    font-size: 13px;
    letter-spacing: 0.7px;
    color: #444;
    text-transform: capitalize;
}
.form-control{
    height: 50px;
    background-color: #fefbf5;
    border: 1px solid #e0d6c1;
    box-shadow: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.form-control:focus{
    border-color: #e6e6e6;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea.form-control{
    resize: none;
    margin-bottom: 20px;
    background: #fefbf5;
    border: 1px solid #e0d6c1;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #a8a192;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #a8a192;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #a8a192;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a8a192;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #a8a192;
}

/*radio check-item*/

.radio-check-item {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 20px;
}
.radio-check-item input[type="radio"],
.radio-check-item input[type="checkbox"]{
    display: none;
}
.radio-check-item input[type="radio"] + label,
.radio-check-item input[type="checkbox"] + label {
    position: relative;
    margin: 0;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    display: block;
    padding-right: 40px;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.radio-check-item input[type="radio"] + label::before,
.radio-check-item input[type="checkbox"] + label::before{
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    border: 2px solid #e1d7c2;
    border-radius: 100%;
    background-color: #fefbf5;
    top: 0px;
    right: 0px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    line-height: 20px;
}

.radio-check-item input[type="radio"]:checked + label::before,
.radio-check-item input[type="checkbox"]:checked + label::before{
    content: "\f00c";
    font-size: 14px;
    background: #73a204;
    border-color: #73a204;
    color: #fff;
}

.radio-check-item.hidden-check input[type="radio"] + label,
.radio-check-item.hidden-check input[type="checkbox"] + label {
    padding: 0 40px;
    line-height: 40px;
    border: 1px solid #e0d6c1;
    border-radius: 50px;
    background: #fefbf5;

}
.radio-check-item.hidden-check input[type="radio"]:checked + label,
.radio-check-item.hidden-check input[type="checkbox"]:checked + label{
    content: "\f00c";
    font-size: 14px;
    background: #73a204;
    border-color: #73a204;
    color: #fff;
}

.radio-check-item.hidden-check input[type="radio"] + label::before,
.radio-check-item.hidden-check input[type="checkbox"] + label::before {
    display: none;
}


/*Count Number*/
.count-number {
    margin: 0;
    border: 1px solid #e0d6c1;
    display: inline-block;
    overflow: hidden;
    border-radius: 50px;
    height: 40px;
}
.count-number a{
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    color: #333;
    background-color: #faf5ec;
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;

}
.count-number a:last-child {
    float: left;
}

.count-number .form-control{
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
    width: 60px;
    padding: 0;
    text-align: center;
    height: auto;
    display: inline-block;
    background-color: transparent;
    border: 0;
    height: 40px;
}
.count-number.count-sm {
    height: 35px;
}
.count-number.count-sm .form-control {
    width: 40px;
    height: 35px;
}
.count-number.count-sm a {
    width: 30px;
    height: 33px;
    line-height: 35px;
}

/*News Letter*/
.newsletter {
    position: relative;
    margin-top: 25px;
}
.newsletter input {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background: #fff;
    color: #73a204;
    border: none;
    border-radius: 4px;
    margin: 0;
    padding: 0 10px 0 0;
}
.newsletter input::-webkit-input-placeholder {
    color: #73a204;
}
.newsletter input::-moz-placeholder {
    color: #73a204;
    opacity: 1;
}
.newsletter input::placeholder {
    color: #73a204;
    opacity: 1;
}
.newsletter button {
    position: absolute;
    top: 2px;
    left: 2px;
    background: #73a204;
    border-radius: 4px;
    padding: 0 20px;
    width: auto;
    height: 38px;
    line-height: 38px;
    float: left;
    color: #ede2cb;
    border: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    opacity: 1;
}
.newsletter button:hover {
    color: #fff;
    background: #db623f;
}

/* Tables
============================*/
table {
    min-width: 620px;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10px;
    border: 1px solid #f5f5f5;
}

.table{
    position: relative;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
    border: 1px solid #ddd;
}
.table > tbody > tr > td:first-child,
.table > tbody > tr > td:nth-child(3) {
    background: #f4f1ea;
    width: 40%
}
.table > tbody > tr > td{
    padding: 12px 15px 12px 10px;
    text-align: right;
    vertical-align: middle;
    background-color: #fdfaf3;
    border: none;
    border-bottom: 1px solid #ddd;
    color: #5e5b54;
    line-height: 30px;
}
.table > tbody > tr:last-child > td{
    border-bottom: none;
}
.table > tbody > tr > td:nth-child(2),
.table > tbody > tr > td:nth-child(4) {
    width: 60%;
    font-family: 'Droid Arabic Kufi', sans-serif;
}

/*Table Cart*/
.table-cart {
    min-width: 800px;
}
.table-cart > thead{
    background: #FEFBF5 url(../images/feature-section-bg.png);
    background-size: auto auto;
    background-size: contain;
    border-bottom: 1px solid #f5f5f5;
}
.table-cart th {
    font-weight: normal;
    line-height: 50px;
    color: #73a204;
    font-size: 15px;
    text-align: center;
}
.table-cart tbody {
    background: #fdfbf4;
}
.table-cart tbody tr{
    border-bottom: 1px solid #f1f1f1;
}
.table-cart tbody tr:last-child{
    border-bottom: 0;
}
.table-cart td {
    text-align: center;
}
.table-cart .product-thumbnail {
    width: 80px;
}
.table-cart .product-thumbnail a {
    display: block;
    width: 70px;
    height: 70px;
    margin: 5px;
}
.table-cart .product-thumbnail a img {
    width: 70px;
    height: 70px;
}
.table-cart .product-name,
.table-cart .product-desc {
    width: 20%;
}
.table-cart .product-name a,
.table-cart .product-desc a {
    color: #5d5a54;
    font-size: 15px;
    word-spacing: 1px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}
.table-cart .product-desc a:hover {
    color: #73a204;
}
.table-cart .product-quantity,
.table-cart .product-price,
.table-cart .product-subtotal{
    width: 120px;
}

.table-cart tbody .product-quantity,
.table-cart tbody .product-price,
.table-cart tbody .product-subtotal{
    color: #5d5a54;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
    font-size: 15px;

}

.table-cart tbody .total-price {
    padding: 20px 0;
    color: #5d5a54;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
    font-size: 15px;

}
.table-cart .product-remove {
    width: 80px;
}
.table-cart .product-remove > *{
    color: #5d5a54;
    font-size: 19px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.table-cart .product-remove > *:hover {
    color: #73a204;
}


/*Buttons
============================*/
.custom-btn {
    border: none;
    display: inline-block;
    width: auto;
    padding: 0px 30px;
    border-radius: 50px;
    background: #73a204;
    color: #fff;
    height: 50px;
    cursor: pointer;
    line-height: 47px;
    font-size: 15px;
}
.custom-btn i {
    display: block;
    float: right;
    margin-left: 10px;
    line-height: 47px;
    font-size: 22px;
}
.custom-btn:hover {
    background: #73a204;
    color: #fff;
}

/*Misc
============================*/
.hide {
    display: none;
}
.no-padding {
    padding: 0!important;
}

.margin-top-40 {
    margin-top: 40px!important;
}

.ui-datepicker table {
	min-width: auto;
	width: 233px;
}
.ui-timepicker-list {
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;

}

/* Section Settings
==============================*/
.section-lg {
    padding: 70px 0;
}
.section-md {
    padding: 50px 0;
}
.section-head {
    margin-bottom: 40px;
    line-height: 40px;
}

/*Icon Box
===========================*/

.icon-box {
    text-align: center;
    padding: 0 20px;
}
.icon-box .icon-box-head {
    display: inline-block;
    color: #a60933;
    line-height: 70px;
    height: 70px;
    font-size: 50px;
}
.icon-box .icon-box-head img {
    height: 70px;
    margin: 0 auto;
}
.icon-box .icon-box-cont {

}
.icon-box .icon-box-cont .title {
    color: #333333;
    font-family: 'Swissra-Bold';
    margin-top: 5px;
    line-height: 35px;
    font-size: 22px;
    margin-bottom: 17px;
}
.icon-box .icon-box-cont p {
    color: #616161;
    line-height: 30px;
    font-size: 14px;
    margin-bottom: 36px;
    word-spacing: 1px;
}
.icon-box .icon-box-cont h4 {
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
    color: #73a204;
    font-size: 30px;
    line-height: 40px;
    margin-top: 10px;
}
.icon-box .icon-box-foot {
    margin-top: 20px;
}
.icon-box .icon-box-foot .custom-btn {
    margin: 0 5px;
    height: 45px;
    line-height: 43px;
    border-radius: 7px;
}
.icon-box .icon-box-foot .custom-btn i {
    line-height: 45px;
    font-size: 18px;
}
.icon-box .icon-box-foot .custom-btn:last-child {
    border: 1px solid #73a204;
    color: #73a204;
    background: #fefbf5;
}
.icon-box.icon-side {
    text-align: right;
    padding: 0 10px;
}
.icon-box.icon-side .icon-box-head {
    line-height: 60px;
    height: 60px;
}
.icon-box.icon-side .icon-box-head img {
    height: 60px;
    margin: 0 auto;
}
.icon-box.icon-side .icon-box-cont .title {
    margin-top: 10px;
    margin-bottom: 10px;
}
.icon-box.icon-side .icon-box-cont p {
    font-family: 'Swissra-Normal';
    line-height: 33px;
}


/*Order Item
===========================*/
.order-item {
    overflow: hidden;
    border-radius: 30px 0 30px 0;
    background-color: rgb(115, 162, 4);
    box-shadow: 0px 10px 30px 0.30px rgba(115, 162, 4, 0.251);
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    margin-bottom: 40px;
}
.order-item:hover {

    box-shadow: 0px 20px 70px 0.70px rgba(115, 162, 4, 0.251);
}

.order-item .order-item-head {
    position: relative;
}
.order-item .order-item-head .order-head-img{
    position: relative;
}
.order-item .order-item-head .order-head-img img{

}
.order-item .order-item-head .order-head-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #73a204;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.order-item .order-item-head .order-head-actions {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.order-item .order-item-head .order-head-actions a {
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border: 2px solid #ebe5da;
    color: #ebe5da;
    margin: 0 4px;
}

.order-item .order-item-head .order-head-actions a:first-child {
    width: 40px;
    border-radius: 100%;
    color: #ebe5da;
    font-size: 19px;
}

.order-item .order-item-head .order-head-actions a:last-child {
    border-radius: 40px;
    padding: 0 15px;

}

.order-item .order-item-head .order-head-actions button {
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border: 2px solid #ebe5da;
    color: #ebe5da;
    margin: 0 4px;
    background: none;
}
.order-item .order-item-head .order-head-actions button:first-child {
    width: 40px;
    border-radius: 100%;
    color: #ebe5da;
    font-size: 19px;
}

.order-item .order-item-head .order-head-actions button:last-child {
    border-radius: 40px;
    padding: 0 15px;

}

.order-item .order-item-cont {
    position: relative;
    text-align: center;
    padding: 15px 10px;
    background: #fefbf5;
}
.order-item .order-item-cont:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: #73A204 url(../images/order-item.png);
    z-index: 0;
    opacity : 0.1;
}
.order-item .order-item-cont .title {
    position: relative;
    color: #280102;
    margin-bottom: 6px;
    font-size: 23px;
}
.order-item .order-item-cont p {
    position: relative;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
    color: #73a204;
    font-size: 16px;
    line-height: 30px;
}

.order-item:hover .order-item-head .order-head-img:before {
    opacity: 0.85;
    visibility: visible;

}
.order-item:hover .order-item-head .order-head-actions {
    top: 47%;
    opacity: 1;
    visibility: visible;
}

@media(max-width:991px){
    .order-item {
        display: inline-block;
        width: 250px;
        margin-top: 40px;
    }
}

/*Header
============================*/
.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    width: 100%;
    z-index: 999;
    background: #fefbf5 url(../images/header-bg.png);
}
.header:before {
    content: "";
    position: absolute;
    top: 40px;
    right: 0;
    background: url(../images/header-right.png);
    width: 85px;
    height: 110px;
    background-size: cover;
}
.header:after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0px;
    background: url(../images/header-left.png);
    width: 85px;
    height: 110px;
    background-size: cover;
}

/* Top-Header */
.top-header {
    padding: 23px 0;
}
.top-header ul.social-list {
    margin-top: 5px;
    margin-right: 35px;
}
.top-header .contact-cart-head {
    float: left;
    position: relative;
    margin-left: 35px;
}
.top-header .contact-cart-head .head-phone {
    display: block;
    float: right;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    height: 50px;
    line-height: 48px;
    border-radius: 50px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #ebe6d4;
    color: #73a204;
    padding: 0 25px;
}
.top-header .contact-cart-head .head-phone i {
    font-size: 25px;
    display: block;
    float: right;
    line-height: 45px;
    margin-left: 7px;
}
.top-header .contact-cart-head .cart-head-wrap {
    float: right;
}
.top-header .cart-head-wrap .cart-head-icon {
    position: relative;
    display: block;
    margin-top: 9px;
    margin-right: 15px;
}
.top-header .cart-head-wrap .cart-head-icon i {
    display: block;
    font-size: 35px;
    color: #db623f;
}
.top-header .cart-head-wrap .cart-head-icon span {
    position: absolute;
    background: #73a204;
    top: -2px;
    left: -15px;
    width: 25px;
    height: 25px;
    line-height: 22px;
    text-align: center;
    border-radius: 100%;
    border: 2px solid #fff;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
    color: #fff;
}
.cart-head-wrap .cart-head-content.dropdown-menu {
    top: 60px!important;
    transform: none!important;
    width: 330px;
    max-height: 375px;
    border-radius: 10px;
    overflow: auto;
    padding: 0;
}
.cart-head-wrap .cart-head-content.dropdown-menu:before {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    background: url(../images/cart-pattern.png);
    background-size: cover;
}
.cart-head-wrap .cart-head-content.dropdown-menu:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: red;
    display: none;
}
.cart-head-item {
    overflow: hidden;
    margin: 17px 17px 10px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eee7d9;
}
.cart-head-item .cart-head-item--img {
    float: right;
    width: 85px;
    height: 85px;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 10px;

}
.cart-head-item .cart-head-item--img img {
    width: 85px;
    height: 85px;
}
.cart-head-item .cart-head-item--content {
    float: right;
    text-align: right;
    padding: 0;
}
.cart-head-item .cart-head-item--content .title {
    margin-bottom: 8px;
    line-height: 27px;
    color: #333333;
}
.cart-head-item .cart-head-item--content ul li {
    display: block;
    line-height: 22px;
    overflow: hidden;
}
.cart-head-item .cart-head-item--content ul li span {
    float: right;
    display: block;
    color: #a8a192;
    margin-left: 6px;
    font-size: 14px;
    font-family: 'Droid Arabic Kufi', sans-serif;
}
.cart-head-item .cart-head-item--content ul li span:last-child {
    margin-left: 0;
    font-weight: bold;
    color: #333;
}
.cart-head-item .cart-head--del {
    float: left;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #db623f;
    border-radius: 100%;
    margin-top: 25px;
    color: #333;

}
.cart-head-item .cart-head--del a {
    color:#fff;
    font-size:22px;
}
.cart-head-wrap .cart-head-content--foot {
    padding: 0 17px;
    text-align: right;

}
.cart-head-wrap .cart-head-content--foot p{
    display: block;
    margin-bottom: 10px;
    line-height: 30px;
    color: #333;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
}
.cart-head-wrap .cart-head-content--foot span {
    font-family: 'Swissra-Medium';
    color: #aea899;
    margin-left: 10px;
    font-weight: normal;
}
.cart-head-wrap .cart-head-content--foot .custom-btn{
    background: #73a204;
    color: #fff;
    line-height: 43px;
    height:43px;
    border: none;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
}


/*Main Header*/
.header > .container{
    position: relative;
    margin-bottom: -95px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/*Header Logo*/
.header .logo {
    display: inline-block;
    position: relative;
    height: 88px;
    z-index: 10;
    top: -92px;
    right: calc(50% - 39px);
    text-align: center;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.header .logo img {
    height: 88px;
}


/*btn-responsive-nav*/
.btn-responsive-nav {
    display: none;
}
@media all and (max-width:991px) {
    .btn-responsive-nav{
        display: block;
        position: absolute;
        border: none;
        right: 0;
        left: 0;
        top: 0;
        z-index: 9999;
        cursor: pointer;
        width: 100%;
        background-color: #a3002e;
        color: #fff;
        margin: 17px 0 0 0;
        border-radius: 10px 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .btn-responsive-nav:hover {
        background-color: #990024;
        color: #fff;
    }
    .btn-responsive-nav:hover,
    .btn-responsive-nav:focus {
        box-shadow: none;
    }
}

/*Navbar*/
.header .navbar{
    position: relative;
    padding: 0;
}
.header .navbar-nav > .nav-item > .nav-link {
    position: relative;
    color: #fff;
    font-size: 16px;
    font-family: 'Swissra-Medium';
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
@media all and (min-width:992px) {
    .header .collapse.navbar-collapse{
        position: relative;
        border-radius: 20px 20px 0 0;
        background: #73a204;
    }
    .header .collapse.navbar-collapse:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px 20px 0 0;
        opacity: 0.3;
        background: #73a204 url(../images/header-bg.png);
    }
    .header .navbar-nav {
        margin: auto;
    }
    .header .navbar-nav > .nav-item > .nav-link{
        line-height: 55px;
        padding: 0;
        margin: 0 40px;
    }
    .header .navbar-nav > .nav-item.active > .nav-link,
    .header .navbar-nav > .nav-item:hover > .nav-link{
        color: #ddd;
    }
}
@media all and (max-width:991px) {
    .header > .container {
        padding: 0;
        margin-bottom: -117px;
    }
    .header .logo {
        top: -80px;
    }
    .header .navbar {
        padding: 0 20px;
        margin: 76px 0 0;
        background: #a3002e;
    }
    .header .navbar .container {
        position: relative;
        z-index: 1;
    }
    .header .collapse.show {
        margin-bottom: 10px;
    }
    .header .navbar-nav > .nav-item.active > .nav-link,
    .header .navbar-nav > .nav-item:hover > .nav-link{
        color: #ddd;
    }
    .cart-head-wrap .cart-head-content.dropdown-menu {
        z-index: 99999;
        left: -50px!important;
    }

}
@media all and (max-width:767px) {
    .header::after,
    .header::before {
        display: none;
    }
    .header .logo {
        top: -90px;
        left: auto;
        right: 0;
    }
    .header > .container {
        padding: 0;
        margin-bottom: -170px;
    }
    .top-header ul.social-list,
    .top-header .contact-cart-head .head-phone {
        display: none;
    }
    .top-header .contact-cart-head .cart-head-wrap {
        float: right;
        margin-left: 15px;
    }

    .top-header .contact-cart-head {
        z-index: 99999;
    }
    .btn-responsive-nav {
        top: -80px;
        left: 0;
        width: 40px;
        right: auto;
        border-radius: 5px;
    }
}

/*Home Slider
============================*/
.home-slider {
    background: url(../images/home-slider.jpg);
    height: 520px;
    background-size: cover;
    overflow: hidden;
}
.home-slider--cont {
    text-align: center;
    margin-top: 140px;
}
.home-slider--cont .title {
    position: relative;
    font-family: 'Swissra-Bold';
    text-align: center;
    font-size: 29px;
    padding: 0 30px;
    line-height: 50px;
    margin-bottom: 40px;
}
.home-slider--cont .title:after {
    content: "";
    display: block;
    background: url(../images/line.png);
    height: 5px;
    width: 230px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
}
.home-slider--cont p {
    line-height: 33px;
    font-size: 16px;
    word-spacing: 1px;
    font-family: 'Swissra-Normal';
}
.home-slider .home-slider--img {
    position: relative;
    left: -130px;
    margin-top: 95px;
}
@media (max-width:1200px) {
    .home-slider--cont {
        text-align: center;
        margin-top: 110px;
    }
    .home-slider--cont .title {
        position: relative;
        font-family: 'Swissra-Bold';
        text-align: center;
        font-size: 25px;
        padding: 0 0;
        line-height: 45px;
        margin-bottom: 30px;
    }
    .home-slider--cont p {
        line-height: 33px;
        font-size: 14px;
    }

}
@media(max-width:991px) {
    .home-slider {
        height: 400px;
    }
    .home-slider--cont {
        margin-top: 80px;
    }
    .home-slider--cont .title {
        font-size: 22px;
        line-height: 40px;
    }
    .home-slider--cont p {
        line-height: 30px;
        font-size: 14px;
    }
    .home-slider .home-slider--img {
        display: none;
    }
    .home-slider .home-slider--img {
        left: 0;
        top: 42px;
    }

}
@media(max-width:600px) {
    .home-slider--cont .title:after {
        margin-top: 10px;
    }

    .home-slider--cont {
        margin-top: 50px;
    }

}


/*Page Head
============================*/
.page-head {
    position: relative;
    background: url("../images/page-head.jpg");
    background-size: cover;
    padding: 40px 0;
    margin-bottom: 50px;
}
.page-head:before {
    content: "";
    position: absolute;
    background: url(../images/page-head-icon.png);
    width: 299px;
    height: 93px;
    bottom: -53px;
    left: calc(50% - 150px);

}
.page-head .container {
    position: relative;
    overflow: hidden;
}

ul.breadcrumb {
    background-color: transparent;
    margin: 0;
    padding: 0;
    float: none;
    margin-bottom: 10px;
}
.page-head h4 {
    float: none;
    margin: 0;
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.7px;
    font-size: 22px;
}
.page-head ul.breadcrumb li,
.page-head ul.breadcrumb li a {
    position: relative;
    color: #aea694;
}
.page-head ul.breadcrumb li {
    padding: 0 15px;
    font-size: 15px;
}
.page-head ul.breadcrumb li:first-child {
    padding-right: 0;
}
.page-head ul.breadcrumb li:last-child {
    padding-left: 0;
}
.page-head ul.breadcrumb li:before {
    content: "/";
    position: absolute;
    left: 0;
    top: 0;
    color: #aea694;
    font-size: 17px;
}
.page-head ul.breadcrumb li:last-child:before {
    display: none;
}
.page-head .breadcrumb li a {
    margin-left: 3px;
}
.page-head ul.breadcrumb > .active {
    color: #a60933;
}
@media(max-width:767px){
    .page-head  {
        padding: 30px 0;
        margin-bottom: 0;
    }
    .page-head:before {
        display: none;
    }

}


/*Footer
============================*/
footer.footer {
    position: relative;
    padding: 50px 0 0 0;
    z-index: 1;
    background: #73a204;
    background-position: top center;
    background-repeat: no-repeat;
}
footer.footer:before {
    content: "";
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 45px;
    background: url("../images/footer-head.png");
    z-index: -1;
    background-position: top center;
    background-repeat:repeat-x;

}
footer.footer:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/header-bg.png");
    opacity: 0.09;
    z-index: -1;
    background-position: top center;
    background-repeat: no-repeat;
}
footer.footer .widget {
    margin-bottom: 30px;
}
footer.footer h3 {
    color: #fff;
    margin: 0 0 15px;
}
footer.footer p {
    font-family: 'Swissra-Normal';
    font-size: 14px;
    margin: 0;
    line-height: 30px;
    color: #f9f9f9;
    word-spacing: 1px;
}
footer.footer p.newsletter-par{
    line-height: 27px;
    margin-top: 15px;

}
footer.footer ul li span {
    font-weight: 800;
    margin-left: 7px;
    color: #fff;
}

/* Copyright*/
.footer-copyright {
    display: block;
    width: 100%;
    overflow: hidden;
    background: #73a204;
    color: #fff;
    letter-spacing: 0.6px;
    line-height: 30px;
    padding: 10px 0;
}
.footer-copyright a {
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
}
.footer-copyright a:hover {
    color: #db623f;
}
@media(max-width:991px) {
    .footer-copyright,
    .text-left{
        text-align: right!important;
    }
}


/*Home Page
===========================*/
/*Home About*/
.about-section {
    position: relative;
    overflow: hidden;
}
.about-section .col-lg-5 {
    position: static;
}
.about-section .about-img {
    position: absolute;
    left: 0;
    bottom: -80px;
    width: 50%;
}
.about-section .title-lg-bg {
    margin-right: -45px;
}
.about-section p {
    line-height: 33px;
    word-spacing: 1px;
    margin-bottom: 15px;
    padding-left: 15px;
    font-family: 'Swissra-Normal';
}
.home-about:before {
    content: "";
    position: absolute;
    left: -90px;
    bottom: -40px;
    width: 346px;
    height: 250px;
    background: url(../images/home-about-pattern.png);
}
.home-about-img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 42%;
}
.home-about .home-about-cont p:last-child {
    margin-bottom: 0;
}
@media(max-width:1200px){
    .home-about::before {
        display: none;
    }
    .home-about .col-lg-6 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .home-about-img {
        right: -40px;
        width: 50%;
    }
    .about-section .about-img {
        position: absolute;
        left: -80px;
        bottom: -80px;
        width: 65%;
    }
}

@media(max-width:991px){
    .home-about::before {
        display: none;
    }
    .home-about-img {
        display: none;
    }
    .home-about .col-lg-6 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .about-section .about-img {
        display: none;
    }
}

/*Home Order*/
.home-order {
    background: #fefbf5;
    overflow: hidden;
}
@media(max-width:1200px){
    .home-order .col-lg-4 {
        -ms-flex: 0 0 40.333333%;
        flex: 0 0 40.333%;
        max-width: 40.333%;
    }
}
@media(max-width:991px){
    .home-order .col-lg-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home-order .icon-box .icon-box-cont .title {
        font-size: 18px;
    }
    .home-order .icon-box .icon-box-foot .custom-btn {
        padding: 0 20px;
    }

}
@media(max-width:991px){
    .home-order .col-lg-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home-order .icon-box {
        margin-top: 50px;
    }
}

/*Home Products*/
.home-products .title {
    margin-bottom: 40px;
}


/*About Page
=============================*/

/*Feature Section*/
.feature-section {
    position: relative;
    background: #FEFBF5 url(../images/feature-section-bg.png);
    background-size: cover;
    min-height: 400px;
}
.feature-section:before {
    content: "";
    position: absolute;
    top: 40px;
    right: -56px;
    background: url(../images/feature-pattern-1.png);
    width: 126px;
    height: 84px;
}
.feature-section:after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: -100px;
    background: url(../images/feature-pattern-2.png);
    width: 151px;
    height: 180px;
}
.feature-section-wrap {
    overflow: hidden;
    height: 100%;
    padding: 50px 0;
}
.feature-section .home-order-title {
    margin-bottom: 70px;
}
.feature-section-wrap:before {
    content: "";
    position: absolute;
    top: 40px;
    left: -85px;
    background: url(../images/feature-pattern-3.png);
    width: 140px;
    height: 99px;
}
.feature-section-wrap:after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: -40px;
    background: url(../images/feature-pattern-4.png);
    width: 131px;
    height: 150px;
}

@media(max-width:767px){
    .feature-section:before,
    .feature-section:after,
    .feature-section-wrap:before,
    .feature-section-wrap:after{
        display: none;
    }
}


/* Testmonial-Section */
.testimonial {
    position: relative;
    text-align: center;
}
.testimonial .section-content {
    margin-bottom: 50px;
}

.testimonial:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -90px;
    background: url(../images/testimonial-bg.png);
    height: 246px;
    width: 624px;
    background-size: cover;
}

.owl-carousel .owl-wrapper-outer {
    direction: ltr;
}
.testmonial-item{
    padding: 10px 45px;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
}

.testmonial-item .testmonial-content{
    position: relative;
    color: #fff;
    width: 70%;
    margin: 0 auto 30px;
    z-index: 1;
}
.testmonial-item .testmonial-content p{
    position: relative;
    font-family: 'Swissra-Normal';
    color: #7a7a7a;
    line-height: 36px;
}

.testmonial-item .testmonial-author .author-info{
    display: inline-block;
    vertical-align: middle;
}
.testmonial-item .testmonial-author .author-name{
    font-size: 16px;
    color: #333;
    margin-bottom:12px;
}
.testmonial-item .testmonial-author .author-place{
    font-size: 12px;
    color: #999999;
}
.owl-theme .owl-controls {
    margin-top: 0;
}
.owl-theme .owl-controls .owl-page span {
    background: #a60933;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #fff;
    border: 2px solid #a60933;

}

@media(max-width:991px){
    .testmonial-item {
        width: 100%;
        padding: 10px 0;
    }
    .testmonial-item .testmonial-content {
        color: #fff;
        width: 100%;
    }
    .testimonial .section-content {
        margin-bottom: 100px;
    }
}
@media(max-width:600px){
    .testimonial::after {
        display: none;
    }
    .testimonial .section-content {
        margin-bottom: 30px;
    }

}

/*Order Detail
============================*/
.order-detail {

}
.order-detail .order-detail-img {

}
.order-detail .order-detail-img img {
    border-radius: 15px;
    min-height: 360px;
}
.order-detail .order-detail-desc {
}
.order-detail .order-detail-desc {
    padding-top: 25px;
    padding-left: 80px;
}
.order-detail .order--title-price {
    overflow: hidden;
    margin-bottom: 30px;
}
.order-detail .order--title-price .title{
    display: block;
    float: right;
    color: #280102;
    margin-left: 30px;
    line-height: 50px;
    font-size: 25px;
}
.order-detail .order--title-price .price {
    font-family: 'Droid Arabic Kufi', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    display: block;
    float: right;
    background: url(../images/price-bg.png);
    width: 180px;
    height: 57px;
    padding-left: 30px;
    line-height: 50px;
}
.order-detail .order--title-price .price span {
    font-weight: normal;
    font-size: 18px;
}
.order--desc {

}
.order--desc p {
    line-height: 30px;
    color: #616161;
    font-family: 'Swissra-Normal';
    word-spacing: 1px;
    font-size: 14px;
}
.order--buy {
    margin-top: 30px;
}

@media(max-width:1200px){
    .order-detail .order-detail-desc {
        padding-top: 20px;
        padding-left: 20px;
    }
    .order-detail .order--title-price .price {
        float: left;
    }
}
@media(max-width:991px){
    .order-detail .order-detail-img {
        text-align: center;
        padding-left: 0;
    }
    .order-detail .order-detail-img img {
        display: inline-block;
    }
}
.order-app--head {
    position: relative;
    margin: 40px 0;
    overflow: hidden;
}
.order-app--head:before {
    content: "";
    position: absolute;
    top: 25px;
    width: calc(100% - 150px);
    height: 1px;
    background: #ede5d6;
    left: 0;
}
.order-app--head h3 {
    display: block;
    float: right;
    line-height: 48px;
    font-size: 17px;
    color: #333;
    border: 1px solid #ede5d6;
    padding: 0 30px;
    border-radius: 50px;
    background: #fefbf5;
}
.order-app--form {
    background: #FEFBF5;
    border: 1px solid #ede5d6;
    padding: 20px;
    border-radius: 10px;
}

.order-app--form .form-group .radio-check-item:last-child {
    margin-left: 0;
}
.order-app--form .radio-check-item.hidden-check input[type="radio"] + label,
.order-app--form .radio-check-item.hidden-check input[type="checkbox"] + label {
    padding: 0 20px;
}
.order-ap--submit {
    overflow: hidden;
}
.order-ap--submit p {
    float: left;
    line-height: 50px;
    color: #333;
    font-size: 17px;
}
.order-ap--submit p span {
    margin-right: 7px;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
}

@media(max-width:991px){
    .order-app--form .form-group .radio-check-item {
        margin-bottom: 20px;
    }
}


/*Contact Page
================================*/
.contact-section {

}
.contact-head {
    overflow: hidden;
    margin-right: -55px;
    margin-bottom: 30px;
}

.contact-cont .form-control {
    font-family: 'Swissra-Normal';
    font-size: 14px;
    border-radius: 50px;
}
.contact-cont textarea.form-control {
    border-radius: 10px;
}
.contact-cont .custom-btn {
    padding: 0 50px;
}
/* Map*/
.map-wrap {
    height: calc(100% - 23px);
}
.map-wrap #map {
    position: relative;
    display: block;
    min-height: 100%;
    overflow: hidden;
    z-index: 10;
    margin-top: 0;
    margin-bottom: 0;
}
@media(max-width:991px){
    .map-wrap {
        height: 350px;
    }
}


/*Cart Page
==============================*/
@media (min-width: 576px) {

}
.modal-body {
    overflow-x: auto;
}
.cart-page .box-wrap {
    overflow-x: auto;
}

@media (max-width: 991px) {
    .cart-page .box-wrap {
        margin-bottom: 30px;
    }
}
/* total-widget */
.total-widget{
    padding: 20px;
    position: relative;
    background-color: #fefbf5;
    z-index: 1;
    border-radius: 15px;
    overflow: hidden;
}
.total-widget:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: url(../images/total-pattern.png);
    background-repeat: repeat-x;
}
.total-widget .total-widget-head{
    text-align: center;
    overflow: hidden;
    margin-bottom: 15px
}
.total-widget .total-widget-head .title{
    color: #333;
    font-size: 18px;
    line-height: 50px;
}
.total-widget .total-widget-content,
.total-widget .total-widget-footer{

}
.total-widget .total-widget-content .total-price{
    position: relative;
    padding-bottom: 15px;
}
.total-widget .total-widget-content .total-price:after{
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 1px;
    left: 0;
    background-color:#d8d8d8;
}

.total-widget .total-widget-content .total-price:last-of-type:after{
    display: none;
}
.total-widget .total-widget-content .total-price > p{
    color: #333;
    font-size: 14px;
    line-height: 35px;
    margin-bottom: 5px;
}
.total-widget .total-widget-content .total-price > p >span:last-child{
    float: left;
    font-family: 'Droid Arabic Kufi', sans-serif;
    font-weight: bold;
}
.total-widget .total-widget-content .grand-total{
    padding-top: 15px;
    margin-bottom: 10px;
}
.total-widget .total-widget-footer{

}
.total-widget .total-widget-footer .custom-btn{
    width: 100%;
    line-height: 43px;
    height: 45px;
}


/* checkout page
=========================*/
.checkout {
	padding: 60px 0;
}
/* Feedback steps*/
.steps-box{
    padding-top: 0;
	border: 1px solid #f5f5f5;
}
.steps-box .nav.steps{
    text-align: right;
    border-radius: 0;
    margin-top: 0;
	padding: 15px 10px;
	background: #FEFBF5 url(../images/feature-section-bg.png);
	background-size: auto auto;
	background-size: contain;
	border-bottom: 1px solid #f5f5f5;
}
.steps-box .nav.steps > li{
	position: relative;
    display: block;
    float: none;
    margin: 0;
    text-align: right;
    width: 25%;
}
.steps-box .nav.steps > li:last-child > a{
    border-radius: 35px 0 0 35px;
}
.steps-box .nav.steps > li.done:first-child > a{
    border-radius: 0!important;
}
.steps-box .nav.steps > li > a{
    display: block;
    position: relative;
    text-align: right;
    padding: 0;
    line-height: 25px;
    color: #5e5b54;
    font-size: 17px;
    border-radius: 0 35px 35px 0;
    padding-right: 45px;
}
.steps-box .nav.steps > li > a:before {
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 2px solid #ccc;
}
.steps-box .nav.steps > li > a:after {
    content: "";
    position: absolute;
    right: 4px;
    top: 7px;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background: white;
}
.steps-box .nav.steps > li:hover > a,
.steps-box .nav.steps > li > a:focus{
    background-color: transparent;
    cursor: default;
}
.steps-box .nav.steps > li.done > a:before,
.steps-box .nav.steps > li > a.active:before {
    border: 2px solid #73a204;
}
.steps-box .nav.steps > li.done > a:after,
.steps-box .nav.steps > li > a.active:after {
    background: #73a204;
}
.steps-box .nav.steps > li.done > a,
.steps-box .nav.steps > li > a.active,
.steps-box .nav.steps > li:hover > a.active{
    color: #73a204;
    background-color: transparent;
}
.steps-box .nav.steps > li.done > a{
    color: #73a204;
    background-color: transparent;
    border-radius: 0;
}
.steps-box .progress-number{
    display: none;
}
.steps-box .tab-content{
	padding: 40px 40px 20px;
}
.steps-box .form-action{
    overflow: hidden;
    text-align: right;
	margin-bottom: 0px;
	padding: 0px 40px 30px;
}
.steps-box .form-action .step-btn{
    display: inline-block;
    padding: 10px 40px;
    color: #fff;
    background-color: #73a204;
    border-radius: 35px;
	line-height: 22px;
	text-align: center;
}
.steps-box .form-action .step-btn:before {
	margin-right: 7px;
	float: left;
	border: 1px solid #fff;
	border-radius: 100%;
	width: 22px;
	height: 22px;
	line-height: 20px;
	font-size: 15px;
	text-align: center;
}
.steps-box .form-action .step-btn.button-next:before {
	content: ">>";
}
.steps-box .form-action .step-btn.button-previous:before {
	content: "<<";
}

@media(max-width:767px){
    .consult:before {
        display: none;
    }
    .steps-box .nav.steps {
        margin-top: 40px;
    }
    .steps-box .nav.steps > li {
        float: right;
        margin-right: 10px;
    }
    .steps-box .nav.steps > li:before {
        display: none;
    }
    .steps-box .tab-content {
        padding-right: 10px;
        padding-top: 10px;
    }
    .inner-tap .col-lg-4.col-xs-6 {
        text-align: center;
    }
    .inner-tap .date-consult {
        padding-top: 30px;
    }
}
/*Sweet Alwert Overrite*/
.swal-confirm{
    padding: 10px 40px;
    color: #fff;
    background-color: #db623f;
    border-radius: 35px;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
            transition: all .3s ease;
}
.swal-confirm:hover,
.swal-confirm:focus,
.swal-confirm:active{
    color: #fff;
    background-color: #db623f;
}
.sweet-alert{
    border-radius: 3px;
}
.sweet-alert .sa-icon.sa-success .sa-line{
    background-color: #222;
    margin-bottom: 30px;
}
.sweet-alert .sa-icon.sa-success{
    margin-bottom: 30px;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder{
    border: 4px solid #222;
}
.sweet-alert .sa-confirm-button-container{
    margin-bottom: 10px;
}
.swal-text{
    color: #222;
}


.inner-tap-head{
    margin-bottom: 50px;
}
.inner-tap-head .title{
    color: #333;
    font-size: 20px;
    font-family: 'GESS_Two_Medium';
}
.inner-tap-body{

}
.inner-tap-body .form-group{
    margin-bottom: 30px;
    position: relative;
}
.inner-tap-body .form-group > label{
    color: #333;
    font-size: 20px;
}
.inner-tap-body .form-group > i{
    position: absolute;
    right: 0;
    top: 31px;
    width: 50px;
    height: 50px;
    color: #333;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #e8e8e8;
}



