/* Button
======================*/
.custom-btn {
    background: #a3002e;
}

.pagenation li.active a:hover,
.pagenation li.active a,
.pagenation li a:hover {
    background: #a3002e;
    color: #fff;
}
.form-control:hover,
.form-control:focus {
    border: 1px solid #a3002e;
}
.radio-wrap input[type="radio"]:hover:not(:checked) ~ label,
.radio-wrap input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #a3002e;
}
.radio-wrap input[type="radio"]:checked ~ label:before,
.radio-wrap input[type="checkbox"]:checked ~ label:before {
    background: #a3002e;
    border-color: #a3002e;
}

.load h1{
    color: #a3002e;
}
.load h2{
    color: #a3002e;
}
.login-register .form-title{
    color: #a3002e;
}
.login-register .form-footer a{
    color: #a3002e;
}

.nav-tabs li.active a ,
.nav-tabs li.active a:hover ,
.nav-tabs li.active a:focus ,
.nav-tabs li a:hover ,
.nav-tabs li a:focus {
    color: #a3002e;
}
.logo{
    background: #fff;
}
.sidebar .side-menu-links li a:hover ,
.sidebar .side-menu-links li a:focus ,
.sidebar .side-menu-links li.actv a:hover ,
.sidebar .side-menu-links li.actv a ,
.sidebar .side-menu-links li.active a:hover ,
.sidebar .side-menu-links li.active a ,
.sidebar .side-menu-links li.drop-act a ,
.sidebar .side-menu-links li.drop-act a:hover,
.sidebar .side-menu-links li.drop-act a:focus{
    border-right: 4px solid #a3002e;
}
.page-heading {
    border-right: 3px solid #a3012f;
}
.page-heading h2 {
    color: #a3002e;
}
.page-heading .breadcrumb > li + li:before {
    padding-left: 6px;
    color: #a3002e;
}
.page-heading .breadcrumb a {
    color: #a3002e;
}
.page-heading .breadcrumb > .active {
    color: #222f44;
}
.widget .widget-title {
    background: #a3002e;
}
.top-header {
    background: #a3002e;
}
.toggle-icon{
    border-left: 1px solid #a3002e;
}
.toggle-icon:hover{
    background: #a3002e;
}
.top-header-links li a:hover{
    background: #a3002e;
}
.top-header-links .dropdown{
    border-right: 1px solid #a3002e;
}
.top-header-links .dropdown .custom-btn .count{
    background: #a3002e;
}
.top-header-links .dropdown .dropdown-menu ul li a .message-content .sender-name{
    color: #a3002e;
}
.top-header-links .dropdown.profile .profile-dropdown .heading h3{
    color: #a3002e;
}
